_build
.merlin
.*.swp
mirage/Makefile
mirage/crypto_test*
mirage/dune
mirage/dune-project
mirage/dune.build
mirage/dune.config
mirage/key_gen.ml
mirage/main.ml
mirage/main.native
mirage/*opam
mirage/myocamlbuild.ml
mirage/.mirage.config
_opam
*.install

# CI using dkml-workflows' DkML compilers.
#   DkML compilers populate the .opam folder.
/.opam/
#   GitHub, unlike GitLab, does not need its CI files to exist
#   before referencing them. That means the GitHub scripts do not need
#   to be checked in.
/.ci/dkml-compilers/gh-*
#   Desktop testing on Windows uses MSYS2.
/msys64/
